<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Todo List!</title>
    </head>
    <body>
        <div th:switch="${todos}">
            <h2 th:case="null">ampty</h2>
            <table th:case="*">
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        description
                    </td>
                    <td>
                        status
                    </td>
                    <td>
                        actions
                    </td>
                </tr>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.name}"></td>
                    <td th:text="${todo.description}"></td>
                    <td th:text="${todo.completed} ? 'Yes' : 'No'"></td>
                    <td>
                        <a th:href="@{todo/delete/{id}(id=${todo.id})}">Delete</a>
                    </td>
                    <td>
                        <a th:href="@{todo/complete/{id}(id=${todo.id})}">Complete</a>
                    </td>
                </tr>
            </table>
        </div>

        <br />
        <h3>Add something you've gotta do!</h3>
        <form method="post" th:action="@{/todo/create}" th:object="${todo}">
            <label for="name">Name</label>
            <input id="name" placeholder="Enter Name" required type="text" th:field="*{name}"/>
            <label for="description">Description</label>
            <input id="description" placeholder="Enter Description" required type="text" th:field="*{description}"/>
            <input type="submit" value="Create Todo">
        </form>

        <br />
        <footer>Thanks for playing!</footer> 
    </body>
</html>